.venv
proj1/__pycache__
proj2/bolt1
proj2/ms_material/__pycache__
proj2/__pycache__
proj2/basketball
proj2/bicycle
proj2/car
proj2/drunk
proj2/fish1
proj2/sphere
proj2/surfing
proj2/juice
proj3/__pycache__
workspace/results
workspace/sequences

